DATABRICKS_TOKEN=your_databricks_token
DATABRICKS_HOST=your_databricks_host
DATABRICKS_HTTP_PATH=your_databricks_http_path
DATABRICKS_CATALOG=your_databricks_catalog
DATABRICKS_SCHEMA=your_databricks_schema
